/* css styles */

/*
    border-style: solid;
    border-color: #030303;
*/

.bash-out {
    background-color: #e4e7ed;
    padding: 5px 5px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: -18px 0px 15px 0px;
    font-style: italic;
}

.exercise {
  padding: 1em;
  margin: 1em 0;
  padding-left: 80px;
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 10px center;
  min-height: 120px;
  color: #1f5386;
  background-color: #bed3ec;
  border: solid 5px #dfedff;
}

.exercise {
  background-image: url("img/puzzle-div.png");
}
